body{
  min-height: 100vh;
  background-image: linear-gradient(to bottom,red,blue,red);
  background-repeat: no-repeat;
  background-size: cover;
  font-style: italic;
}
/* navbar */
.active{
  color: yellow;
}
.nonactive{
  color: white;
}
.nav-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: blue;
  font-size: 2em;
  padding: 0.3em;
}
.nav-flex a{
  text-decoration: none;
}
/* table */
h1{
  color: gold;
}
#btn-div{
  text-align: center;
}
.btn{
  margin: 1em;
  font-size: 1.5em;
  color: white;
  border: 0px;
  border-radius: 1em;
  font-weight: bold;
  background-color: blue;
}
.btn:hover{
  color: darkblue;
  background-color: rgb(227, 61, 89);

}
.table-flex{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  font-size: 1.5em;
  padding: 0.2em;
  background-color: cyan;
  color: darkblue;
}
.table-flex div{
  width: 20%;
}
/* addform and editform*/
form{
  text-align: center;
  background-color: gold;
}
.form-label{
  font-size: 1.5em;
  color: darkblue;
}
.form-input{
  text-align: center;
  width: 20rem;
  height: 3rem;
  border-radius: 2em;
  border: 0px;
  font-size: 1.5em;
  color: red;
}